@using Centric_Consulting_MIS_4200_Project.DAL;
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)

{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @{
                    var userName = "";
                    var loggedInUserID = "";
                    try
                    {



                        var userID = User.Identity.GetUserName(); // get the email of the user

                        // the next line is YOUR context, not mine!

                        MIS4200Context db = new Centric_Consulting_MIS_4200_Project.DAL.MIS4200Context();

                        // get the name of the logged in user

                        userName = db.Profiles.Where(n => n.email == userID).FirstOrDefault().firstName;

                        // get the ID of the logged in user

                        loggedInUserID = User.Identity.GetUserId();

                    }
                    catch (Exception)
                    {
                        userName = User.Identity.GetUserName();


                    }


                    @Html.ActionLink("Hello " + userName + "!", "Details", "Profiles", new { id = loggedInUserID }, null)
                    }


            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>

     
    }
}

else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Create Profile", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
