
@{
    ViewBag.Title = "NotAuthenticated";
}

<br />
<br />
<div class="alert alert-danger">
    <h1>Rejected</h1>
    <h3>Action not allowed - Invalid User!</h3>
</div>
<br />
@Html.ActionLink("Return to home", "index", "home")

