@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Centric Employee Recognition System</h1>
    <p class="lead">Listed below are core values to Centric Consulting. Click the link to learn more information about Centric!</p>
    <p><a href="https://centricconsulting.com/about-us/" class="btn btn-primary btn-lg">Centric Consulting - About &raquo;</a></p>
</div>
    <div class="row">
        <div class="col-md-1.5">
            <h2>Always be willing to help.</h2>
            <p>
                Not only do we do what it takes to help our colleagues and clients, but we are always on the lookout for ways to make a positive impact.
            </p>
        </div>
        <div class="col-md-1.5">
            <h2>Treating clients like friends.</h2>
            <p>Our clients are treated with the same adoration and respect we give our friends, which often leads to deeper and more positive relationships.</p>
        </div>
        <div class="col-md-1.5">
            <h2>Doing what it takes-together.</h2>
            <p>Your success is our success so we work hard to ensure you have what you need, and work to figure it out together.</p>
        </div>
        <div class="col-md-1.5">
            <h2>Putting you first.</h2>
            <p>We strive to put others before ourselves in an authentic way without any expectation of a payoff.</p>
        </div>
    </div>